GOOGLE_TRANSLATE_KEY=<PUT ALL YOUR PERSONAL TOKEN HERE>
CLIENT_ID=<PUT ALL YOUR PERSONAL TOKEN HERE>
JWT_SECRET=<PUT ALL YOUR PERSONAL TOKEN HERE>
YOUTUBE_KEY=<PUT ALL YOUR PERSONAL TOKEN HERE>
FOOD2FORK_KEY=<PUT ALL YOUR PERSONAL TOKEN HERE>